<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <footer>
        <div class="xz mt-3 mb-5">
            <div class="col-md-8 col-sm-6" style="color: #AB9C9C;">
                <h3 style="text-transform: uppercase;">Про нас</h3>
                <p>
                    На <span style="font-weight: 700; font-size: 18px;"> Potter`s Patrol  </span> ви маєте можливість поринути у світ Гаррі Поттера,
                    дізнатись про його основні частини,
                    а також створити власний профіль, пройти тест на вибір власного факультета, палички та патронуса і звичайно, обговорити теми, що вас цікавлять з іншими чарівниками
                </p>
                <p>
                    Просто пориньте у магію всесвіту Гаррі Поттера та станьте справжнім чарівником!!!
                </p>
            </div>
        </div>
            <div class="col-md-4 col-sm-5" style="color: #AB9C9C; padding: 0;">
                <h3 style="text-transform: uppercase;">Підтримуй зв’язок</h3>
                <ul class="list-unstyled">
                    <li>
                        <p>
                            <i class="fas fa-address-book"></i> <span class="contacts">Адреса:</span> Україна, Чернівці | Київ
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="fas fa-phone"></i> <span class="contacts">Телефон:</span>  +380 95 644 6876
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="fas fa-envelope"></i> <span class="contacts">Email:</span> korolenkovitya92@gmail.com
                        </p>
                    </li>
                    <li class="social">
                        <a class="btn btn-social-icon btn-lg btn-instagram" href="https://www.instagram.com/viktor__braus/" target="_blank"><i class="fa fa-instagram"></i></a>
                        <a class="btn btn-social-icon btn-lg btn-twitter" href="https://twitter.com/ViktorBraus"><i class="fa fa-twitter" target="_blank"></i></a>
                        <a class="btn btn-social-icon btn-lg btn-telegram" href="https://t.me/viktorbraus"><i class="fa fa-telegram" target="_blank"></i></a>
                        <a class="btn btn-social-icon btn-lg btn-facebook" href="https://www.facebook.com/Derekandkoral"><i class="fa fa-facebook" target="_blank"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>
