<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
    <link rel="stylesheet" type="text/css" href="../../static/index.css">
    <link rel="icon" href="../../static/logo.png" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat with Bot</title>
</head>
<body>
<div class="HomePage">
        <div class="navbar">
        <div class="Potters">Potter`s Patrol</div>
        <div><a class="linking" href="http://localhost:3000">Повернутись на головну</a></div>
        </div>
    </div>
<br/>
    {% for entry in dialog_history %}
        <p>{{ entry }}</p>
    {% endfor %}

    {% if ending %}
        <form method="post" action="{% url 'chat_bot' %}">
            {% csrf_token %}
            <label for="user_input">You:</label>
            <input type="text" name="user_input">
            <button type="submit">Submit</button>
        </form>
    {% endif %}
<br/>
<a class="back" href ='/'>return to main page</a>
</body>
</html>