<!DOCTYPE html>
<!-- <div>
            <h1>Books</h1>
        </div>
        {#% for post in posts %#}
            <div>
            <h1><a href="">{{ post.title }}</a> </h1>
            <p>{{ post.text|linebreaksbr }}</p>
                        <p>published: {{ post.published_date }}</p>
            </div>
        {#% endfor %#}
-->
{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../../static/index.css">
        <link rel="icon" href="../../static/logo.png" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <meta charSet="utf-8" />
        <title>Potters Patrol</title>
    </head>
    <body>
    <header>
        <div class="HomePage">
        <div class="navbar">
        <div class="Potters">Potter`s Patrol</div>
        <div><a class="linking" href="http://localhost:49454">Повернутись на головну</a></div>
        </div>
        </div>
    </header>
        <main>
        <div>
        <h1 align="center">Chat-bot Harry Potter</h1>
            <button type="submit"><a class="hyper" href="chat_bot">Start Chatting</a></button>
        </div>
        </main>
    <footer>
    {% include '../footer/footer.html' %}
    </footer>
    </body>
</html>