<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../../static/index.css">
        <link rel="icon" href="../../static/logo.png" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <meta charSet="utf-8" />
        <title>Potters Patrol</title>
    </head>
    <body>
    <header>
        <div class="HomePage">
        <div class="navbar">
        <div class="Potters">Potter`s Patrol</div>
        <div><a class="linking" href="http://localhost:49454">Повернутись на головну</a></div>
        </div>
        </div>
    </header>
        <main>
        <div class="block">
        <h1 class="title" align="center">Chat-bot Harry Potter</h1>
            <div class="homediv">
                <div class="centring">
                            <a class="hyper" href="ron"> Ron Weasley <br/>
                                <img class='character_image' src="../static/ron.jpg"/>
                            </a>
                </div>
                <div class="centring">
                            <a class="hyper" href="harry"> Harry Potter <br/>
                                <img class='character_image' src="../static/harry.webp"/>
                            </a>
                </div>
                <div class="centring">
                            <a class="hyper" href="hermione"> Hermione Granger <br/>
                                <img class='character_image' src="../static/hermione.jpg"/>
                            </a>
                </div>
                </div>
            <br/>
        </div>
        </main>
    <footer>
    {% include '../footer/footer.html' %}
    </footer>
    </body>
</html>