/*
#AB9C9C - основной цвет текста
#3B2024 - цвет фона
Шрифт - Lora
        background-color: rgba(196,196,196, 0.6); - чтобы настроить прозрачность
*/
@font-face {
    font-family: Lora;
    src: url("./fonts/Lora-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
.HomePage
{
    border-radius: 3px ;
    width: 100%;
    background: #3B2024;
    background-position: center;
    background-size: cover;
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    line-height: 82px;
    text-align: center;
    color: #AB9C9C;
    text-shadow: 0px 4px 51px rgba(0, 0, 0, 0.25);
}
.navbar
{
    position: sticky;
    font-family: "LoraRegular";
    width: 100%;
    top: 0;
    color: #AB9C9C;
    display: inline-flex;
    justify-content: space-around;
}
.Potters
{
        font-size: 30px;
}
.linking
{
    background: rgba(123, 123, 123, 0.3);
    color:#AB9C9C;
    text-decoration:none;
}
/* Загальний стиль для посилань */
a {
  color: #5d3036; /* Колір тексту посилання */
  text-decoration: none; /* Забираємо декорацію посилання (підкреслення) */
  transition: color 0.3s ease; /* Плавний перехід колір тексту при наведенні */
}
/* Стиль для наведення на посилання */
a:hover {
  color: #101d69; /* Змінюємо колір тексту при наведенні */
}
.hyper
{
    font-size: xx-large;
    font-weight: bold;
}
.xz
{
    display:flex;
    width: 50%;
    flex-direction: row;
    justify-content:center !important;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
body {
    background: rgba(127, 73, 79, 0.68);
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Забезпечуємо, щоб контент вміщався весь екран */
    margin: 0;
}
header {
    /* Стилі для верхньої частини сторінки */
    background: rgba(127, 73, 79, 0.68);
    padding: 10px;
}
main {
    /* Стилі для основного контенту */
    flex-grow: 1; /* Забезпечуємо розширення контенту на залишок висоти екрану */
    padding: 20px;
}
footer {
     /* Стилі для нижньої частини сторінки */
    background: #291619;
    display: block;
    height: 100%;
    margin-bottom:0px;
    padding: 10px;
}